<a href="https://colab.research.google.com/github/kimheeseo/python/blob/main/101_110.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
# 중급 101.
solarsys=['태양','수성','금성','지구','화성','목성','토성','천왕성','해왕성','지구']
planet='지구'
pos=solarsys.index(planet)

# 리스트 객체의 index()메소드: 리스트에서 요소의 값을 알고 있을 때, 그 요소가 최초로 나타나는 위치의 인덱스를 리턴합니다.
print('%s은(는) 태양계에서 %d번째에 위치하고 있습니다.' %(planet, pos))

지구은(는) 태양계에서 3번째에 위치하고 있습니다.

In [5]:
# 중급 102. 리스트에서 특정 위치의 요소를 변경하기
solarsys=['태양','수성','금성','지구','화성','목성','토성','천왕성','해왕성','지구']
planet='화성'
pos=solarsys.index(planet)
print('pos값:',pos)

solarsys[pos]='Mars'
print('solarsys값:',solarsys)
# 리스트에서 특정 위치에 있는 요소의 값을 변경하는 방법은 매우 간단합니다.

pos값: 4
solarsys값: ['태양', '수성', '금성', '지구', 'Mars', '목성', '토성', '천왕성', '해왕성', '지구']

In [6]:
# 중급 103. 리스트에서 특정 구간에 있는 요소 추출하기
solarsys=['태양','수성','금성','지구','화성','목성','토성','천왕성','해왕성','지구']
rock_planets=solarsys[1:4]
gas_planets=solarsys[4:]
print('태양계의 암석형 행성:',end=''); print(rock_planets)
print('태양계의 가스형 행성:',end=''); print(gas_planets)

# 리스트의 특정 구간에 있는 요소를 추출하여 새로운 리스트를 만들려면 '슬라이싱'을 이용합니다.

태양계의 암석형 행성:['수성', '금성', '지구']
태양계의 가스형 행성:['화성', '목성', '토성', '천왕성', '해왕성', '지구']

In [8]:
# 중급 104. 리스트에서 짝수 번째 요소만 추출하기
listdata=list(range(1,21))
print('listdata값:',listdata)
evenlist=listdata[1::2]

print('evenlist값:',evenlist)

# 홀수 번째 요소만 추출하여 새로우 리스트를 만들면,
oddlist=listdata[::2]
print('oddlist값:',oddlist)

listdata값: [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]
evenlist값: [2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

In [9]:
# 중급 105. 리스트 요소 순서를 역순으로 만들기
listdata=list(range(5))
print('listdata값:',listdata)

listdata.reverse()
print('reverse lisdtdata값:',listdata)
# 리스트 객체의 reverse() 메소드는 리스트의 모든 요소 순서를 거꾸로 만듭니다.
# reverse()는 원본 리스트 자체가 변경된다는 것에 유의해야 합니다.

listdata값: [0, 1, 2, 3, 4]
reverse lisdtdata값: [4, 3, 2, 1, 0]

In [12]:
# 중급 106. 리스트 요소 순서를 역순으로 만들기
listdata=list(range(5))
ret1=reversed(listdata)

print('원본 리스트:',list(listdata))
print('역순 리스트:', list(ret1))

ret2=listdata[::-1]
print('슬라이싱 이용',end='');print('ret2값:',ret2)
# reversed()는 원본 데이터를 변경하지 않습니다.

원본 리스트: [0, 1, 2, 3, 4]
역순 리스트: [4, 3, 2, 1, 0]
슬라이싱 이용ret2값: [4, 3, 2, 1, 0]

In [14]:
# 중급 107. 리스트 합치기(+)
listdata1=['a','b','c','d','e']
listdata2=['f','g','h','i','j']

listdata3=listdata1+listdata2
print('listdata3값:',listdata3)
# 두 개의 리스트를 연결하여 새로운 리스트를 만드는 방법은 + 연산자를 이용해 두 개의 리스트를 더하면 됩니다.

listdata3값: ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']

In [15]:
# 중급 108. 리스트 반복하기
listdata=list(range(3))
print('listdata값;',listdata)
ret=listdata*3
print('ret값:listdata 3번 반복',ret)

# list*n= 리스트를 n번 반복하여 새로운 리스트를 만듭니다.

listdata값; [0, 1, 2]
ret값:listdata 3번 반복 [0, 1, 2, 0, 1, 2, 0, 1, 2]

In [18]:
# 중급 109. 리스트에 요소 추가하기
listdata=[]
for i in range(3):
  txt=input('리스트에 추가할 값을 입력하세요. [%d/3]:' %(i+1))
  listdata.append(txt)
  print('listdata값:',listdata)

# 리스트 객체의 append()메소드는 인자로 입력된 값을 리스트의 맨 마지막 요소로 추가합니다.

리스트에 추가할 값을 입력하세요. [1/3]:4
listdata값: ['4']
리스트에 추가할 값을 입력하세요. [2/3]:5
listdata값: ['4', '5']
리스트에 추가할 값을 입력하세요. [3/3]:5
listdata값: ['4', '5', '5']

In [20]:
# 중급 110. 리스트의 특정 위치에 요소 삽입하기
solarsys=['태양','수성','금성','지구','화성','목성','토성','천왕성','해왕성','지구']
pos=solarsys.index('목성')
print('목성의 위치는?',pos)
print('solarsys값:',solarsys)

solarsys.insert(pos,'소행성')
print('solarsys값:',solarsys)

# 리스트 객체의 insert()메소드는 리스트의 특정 위치에 새로운 요소를 삽입합니다.

목성의 위치는? 5
solarsys값: ['태양', '수성', '금성', '지구', '화성', '목성', '토성', '천왕성', '해왕성', '지구']
solarsys값: ['태양', '수성', '금성', '지구', '화성', '소행성', '목성', '토성', '천왕성', '해왕성', '지구']