<a href="https://colab.research.google.com/github/kimheeseo/python/blob/main/111_120.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
# 중급 111. 리스트의 특정 위치의 요소 제거하기(del)
solarsys=['태양','수성','금성','지구','화성','목성','토성','천왕성','해왕성']
print('solarsys값:',solarsys)
del solarsys[0]
print('solarsys값:',solarsys)

solarsys값: ['태양', '수성', '금성', '지구', '화성', '목성', '토성', '천왕성', '해왕성']
solarsys값: ['수성', '금성', '지구', '화성', '목성', '토성', '천왕성', '해왕성']

In [2]:
# 중급 112. 리스트에서 특정 요소 제거하기(remove)
solarsys=['태양','수성','금성','지구','화성','목성','토성','천왕성','해왕성']
solarsys.remove('태양')
print('solarsys값:',solarsys)
# 리스트에서 특정 요소의 값을 알고 있을 때, 그 요소를 제거하는 방법은 리스트 객체의 remove() 메소드를 이용하면 됩니다.

solarsys값: ['수성', '금성', '지구', '화성', '목성', '토성', '천왕성', '해왕성']

In [3]:
# 중급 113. 리스트에서 특정 구간에 있는 모든 요소 제거하기
solarsys=['태양','수성','금성','지구','화성','목성','토성','천왕성','해왕성']
print('solarsys값:',solarsys)
del solarsys[1:3]
print('solarsys값:',solarsys)

solarsys값: ['태양', '수성', '금성', '지구', '화성', '목성', '토성', '천왕성', '해왕성']
solarsys값: ['태양', '지구', '화성', '목성', '토성', '천왕성', '해왕성']

In [5]:
# 중급 114. 리스트에 있는 요소 개수 구하기
listdata=[2,2,1,3,8,5,7,6,3,6,2,3,9,4,4]
listsize=len(listdata)
print('listdata의 요소 개수:',listsize)

# 파이썬 내장함수 len()은 시퀀스 자료형의 크기를 구하는 함수.

listdata의 요소 개수: 15

In [6]:
# 중급 115. 리스트에서 특정 요소 개수 구하기(count)
listdata=[2,2,1,3,8,5,7,6,3,6,2,3,9,4,4]
c1=listdata.count(2)
print('listdata에서 2의 갯수는?',c1)
# 리스트 객체의 count() 메소드는 리스트에 존재하는 특정 요소의 개수를 리턴합니다.

listdata에서 2의 갯수는? 3

In [8]:
# 중급 116. 리스트 제거하기(del)
listdata=[2,2,1,3,8,5,7,6,3,6,2,3,9,4,4]
print('listdata값:',listdata)

del listdata
print('listdata값:',listdata)
# listdata 자체가 메모리에서 제거되었으므로 listdata는 이제 코드에서 존재하지 않는 변수입니다.

listdata값: [2, 2, 1, 3, 8, 5, 7, 6, 3, 6, 2, 3, 9, 4, 4]

NameError: name 'listdata' is not defined

In [12]:
# 중급 117. 리스트 요소 정렬하기(sort)
namelist=['mary','smas','aimy','tom','michale','bob']
print('namelist값:',namelist)
namelist.sort() # namelist의 모든 요소를 오름차순으로 정렬합니다.
# 내림차순 : namelist.sort(reverse=True)
print('namelist값:',namelist)
# 리스트 객체의 sort()는 원본 리스트의 내용을 정렬된 형태로 변경합니다.

namelist값: ['mary', 'smas', 'aimy', 'tom', 'michale', 'bob']
namelist값: ['aimy', 'bob', 'mary', 'michale', 'smas', 'tom']

In [11]:
# 중급 118. 리스트 요소 정렬하기(sorted)
namelist=['mary','smas','aimy','tom','michale','bob']
ret1=sorted(namelist)
ret2=sorted(namelist, reverse=True)

print('ret1값:',ret1)
print('ret2값:',ret2)
# 리스트 객체의 sort()는 원본 리스트를 정렬한 형태로 변경하지만, sorted9)는 원본
# 리스트는 그대로 두고 정렬한 결과 리스트를 리턴합니다.

ret1값: ['aimy', 'bob', 'mary', 'michale', 'smas', 'tom']
ret2값: ['tom', 'smas', 'michale', 'mary', 'bob', 'aimy']

In [13]:
# 중급 119. 리스트 요소 무작위로 섞기
from random import shuffle

listdata=list(range(1,11))
for i in range(3):
  shuffle(listdata)
  print('shuffle된 listdata값:',listdata)
# 파이썬 기본 모듈인 random은 의사 난수 (Pseudo ranodm number) 발생기를 구현한 모듈.
# 이 모듈이 제공하는 shuffle()은 리스트의 요소를 무작위로 섞는 데 활용됩니다.

shuffle된 listdata값: [8, 3, 4, 6, 5, 1, 10, 9, 2, 7]
shuffle된 listdata값: [7, 4, 1, 6, 2, 9, 10, 5, 8, 3]
shuffle된 listdata값: [10, 1, 4, 9, 6, 7, 8, 2, 5, 3]

In [14]:
# 중급 120. 리스트의 모든 요소를 인덱스와 쌍으로 추출하기(enumerate)
solarsys=['태양','수성','금성','지구','화성','목성','토성','천왕성','해왕성']
ret=list(enumerate(solarsys))
print('ret값:',ret)

for i, body in enumerate(solarsys):
  print('태양계의 %d번째 천체: %s' %(i, body))
# 파이썬 내장함수 enumerate(): 시퀀스 자료형을 인자로 받아 각 요소를 인덱스와 함께 쌍으로 추출할 수 있는 반복 가능한 자료인 enumerate객체를 리턴합니다.

ret값: [(0, '태양'), (1, '수성'), (2, '금성'), (3, '지구'), (4, '화성'), (5, '목성'), (6, '토성'), (7, '천왕성'), (8, '해왕성')]
태양계의 0번째 천체: 태양
태양계의 1번째 천체: 수성
태양계의 2번째 천체: 금성
태양계의 3번째 천체: 지구
태양계의 4번째 천체: 화성
태양계의 5번째 천체: 목성
태양계의 6번째 천체: 토성
태양계의 7번째 천체: 천왕성
태양계의 8번째 천체: 해왕성