<a href="https://colab.research.google.com/github/kimheeseo/python/blob/main/121_130.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
# 중급 121. 리스트의 모든 요소의 합 구하기
listdata=[2,2,1,3,8,5,7,6,3,6,2,3,9,4,4]
ret=sum(listdata)
print('sum(listdata)값:',ret)

sum(listdata)값: 65

In [7]:
# 중급 122. 리스트 요소가 모두 참인지 확인하기(all, any)
listdata1=[0,1,2,3,4]
listdata2=[True, True, True]
listdata3=['',[],(),{},None, False]

print("all(listdata1)값:",all(listdata1))
# listdata1은 0을 요소로 가지고 있습니다. 0은 거짓인 값이므로 all(listdata1)은 false입니다.
print("any(listdata1)값:",any(listdata1))
# listdata1은 0을 제외한 모든 값이 참인 값입니다. 따라서 True

print("all(listdata3)값:",all(listdata3))
# listdat3은 모든 요소가 거짓인 값으로 구성되어 있습니다.
print("any(listdat3)값:",any(listdata3))

all(listdata1)값: False
any(listdata1)값: True
all(listdata3)값: False
any(listdat3)값: False

In [2]:
# 중급 123. 사전에 요소 추가하기
solar1=['태양','수성','금성','지구','화성','목성']
solar2=['suns','mercury','venus','earth','mars','jupiter']
solardict={}
print("enumerate(solar1)값:",enumerate(solar1))

for entry in enumerate(solar1):
  print(entry)

for i,k in enumerate(solar1):
  val=solar2[i]
  print('val값:',val)
  print('k값:',k)
  solardict[k]=val
  print('solardict[k]값:',solardict[k])

# 사전은 키:값이 요소인 순서가 없는 자료형입니다. 따라서 사전은 인덱스가 아닌 키로 해당 요소의 값을 접근할 수 있습니다.
print('solardict값:',solardict)

enumerate(solar1)값: <enumerate object at 0x7808ed9223c0>
(0, '태양')
(1, '수성')
(2, '금성')
(3, '지구')
(4, '화성')
(5, '목성')
val값: suns
k값: 태양
solardict[k]값: suns
val값: mercury
k값: 수성
solardict[k]값: mercury
val값: venus
k값: 금성
solardict[k]값: venus
val값: earth
k값: 지구
solardict[k]값: earth
val값: mars
k값: 화성
solardict[k]값: mars
val값: jupiter
k값: 목성
solardict[k]값: jupiter
solardict값: {'태양': 'suns', '수성': 'mercury', '금성': 'venus', '지구': 'earth', '화성': 'mars', '목성': 'jupiter'}

In [4]:
# 중급 124. 사전의 특정 요소값 변경하기
names={'Mary':10999,'Sams':2111,'Aimy':9778,'Tom':20245, 'michale':2715, 'bob': 5887, 'kelly':7855}
print('names값:',names)
names['Aimy']=1000
print('names값:',names)

names값: {'Mary': 10999, 'Sams': 2111, 'Aimy': 9778, 'Tom': 20245, 'michale': 2715, 'bob': 5887, 'kelly': 7855}
names값: {'Mary': 10999, 'Sams': 2111, 'Aimy': 1000, 'Tom': 20245, 'michale': 2715, 'bob': 5887, 'kelly': 7855}

In [5]:
# 중급 125. 사전의 특정 요소 제거하기(del)
names={'Mary':10999,'Sams':2111,'Aimy':9778,'Tom':20245, 'michale':2715, 'bob': 5887, 'kelly':7855}
print('names값:',names)
del names['Sams']
print('names값:',names)

names값: {'Mary': 10999, 'Sams': 2111, 'Aimy': 9778, 'Tom': 20245, 'michale': 2715, 'bob': 5887, 'kelly': 7855}
names값: {'Mary': 10999, 'Aimy': 9778, 'Tom': 20245, 'michale': 2715, 'bob': 5887, 'kelly': 7855}

In [6]:
# 중급 126. 사전의 모든 요소 제거하기(clear)
names={'Mary':10999,'Sams':2111,'Aimy':9778,'Tom':20245, 'michale':2715, 'bob': 5887, 'kelly':7855}
print('names값:',names)
names.clear()
print('names값:',names)
# 사전의 모든 요소를 제거하여 빈 사전으로 만드는 방법은 사전 객체의 clear() 메소드를 이용하면 됩니다.

names값: {'Mary': 10999, 'Sams': 2111, 'Aimy': 9778, 'Tom': 20245, 'michale': 2715, 'bob': 5887, 'kelly': 7855}
names값: {}

In [9]:
# 중급 127. 사전에서 키만 추출하기(keys)
names={'Mary':10999,'Sams':2111,'Aimy':9778,'Tom':20245, 'michale':2715, 'bob': 5887, 'kelly':7855}
ks=names.keys()
print('key값:',ks)
# 아기이름:출생아 수가 요소인 사전에서 키와 값을 한줄씩 출력하는 코드

# ks=names.keys()
# names의 모든 키를 추출하여 dict_keys 사전 뷰 객체로 리턴합니다.

for k in ks: # dict_keys 사전 뷰 객체는 in 키워드 뒤에 놓여 dict_keys의 요소를 하나씩 끄집어 낼 수 있습니다.
  print('key: %s \t value: %d' %(k,names[k]))
# 사전은 순서가 없는 자료형이므로 dict_keys객체 요소들의 순서는 책과 다를 수 있습니다.
key_list=list(names.keys())
print('key_list값:',key_list)
# dict_keys 객체는 list() 함수의 인자로 입력되어 리스트로 변환됩니다.

key값: dict_keys(['Mary', 'Sams', 'Aimy', 'Tom', 'michale', 'bob', 'kelly'])
key: Mary 	 value: 10999
key: Sams 	 value: 2111
key: Aimy 	 value: 9778
key: Tom 	 value: 20245
key: michale 	 value: 2715
key: bob 	 value: 5887
key: kelly 	 value: 7855
key_list값: ['Mary', 'Sams', 'Aimy', 'Tom', 'michale', 'bob', 'kelly']

In [10]:
# 중급 128. 사전에서 값만 추출하기
names={'Mary':10999,'Sams':2111,'Aimy':9778,'Tom':20245, 'michale':2715, 'bob': 5887, 'kelly':7855}
vals=names.values() # names.values()는 names의 모든 값들을 추출하여 dict_values 사전 뷰 객체로 리턴합니다.
print('vals값:',vals)

vals_list=list(vals)
ret=sum(vals_list)
print('출생아 수 총계:%d' %ret)

vals값: dict_values([10999, 2111, 9778, 20245, 2715, 5887, 7855])
출생아 수 총계:59590

In [11]:
# 중급 129. 사전 요소를 모두 추출하기(items)
names={'Mary':10999,'Sams':2111,'Aimy':9778,'Tom':20245, 'michale':2715, 'bob': 5887, 'kelly':7855}
items=names.items()
print('items값:',items)

for item in items:
  print('items값:',item) # 아기이름 : 출생아 수가 요소인 사전에서 각 요소를 추출하여 (아기이름, 출생아 수)로 출력하는 코드

items값: dict_items([('Mary', 10999), ('Sams', 2111), ('Aimy', 9778), ('Tom', 20245), ('michale', 2715), ('bob', 5887), ('kelly', 7855)])
items값: ('Mary', 10999)
items값: ('Sams', 2111)
items값: ('Aimy', 9778)
items값: ('Tom', 20245)
items값: ('michale', 2715)
items값: ('bob', 5887)
items값: ('kelly', 7855)

In [13]:
# 중급 130. 사전에 특정 키가 존재하는 지 확인하기(in)
names={'Mary':10999,'Sams':2111,'Aimy':9778,'Tom':20245, 'michale':2715, 'bob': 5887, 'kelly':7855}
k=input('이름을 입력하세요.')
if k in names:
  print('이름이 <%s>인 출생아 수인 <%d>명 입니다.' %(k,names[k]))
# k가 사전 자료 naems의 키로 존재하면, 키와 이 키에 대응하는 값을 출력합니다.

else:
  print('자료에 <%s>인 이름이 존재하지 않습니다.' %k)
# 만약 k가 dict에 키로 존재하면 true, 존재하지 않으면 false입니다.
# k가 사전 자료 names의 키로 존재하지 않으면, 사용자가 입력한 값이 names의 키로 존재하지 않는다는 메시지를 출력합니다.

if 2111 in names.values():
  print('주어진 값이 사전에 존재합니다.')
else:
  print('주어진 값이 사전에 존재하지 않습니다.')

이름을 입력하세요.Mary
이름이 <Mary>인 출생아 수인 <10999>명 입니다.
주어진 값이 사전에 존재합니다.