<a href="https://colab.research.google.com/github/kimheeseo/python/blob/main/91_100.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
# 중급 91. 문자열에 있는 문자열 개수 구하기(count)
txt='A lot of things occur each day, every day.'
word_count1=txt.count('o')
word_count2=txt.count('day')

print('word_count1 count 값:',word_count1)
print('word_count2 count 값:',word_count2)
# 문자열 객체의 count() 메소드: 문자열에서 특정 문자의 개수를 리턴합니다.

word_count1 count 값: 3
word_count2 count 값: 2

In [3]:
# 중급 92. 문자열에서 특정 문자 위치 찾기(find)
txt='A lot of things occur each day, every day.'
offset1=txt.find('e')
offset2=txt.find('day')

print('offset1값:',offset1)
print('offset2값:',offset2)
# 문자열 객체의 find(): 문장열에서 특정 문자나 문자열이 위치하는 인덱스를 리턴합니다.
# find()에는 찾고자 하는 문자 또는 문자만을 입력하면 해당 문자나 문자열이 최초로 나타나는 위치에 대한 인덱스를 리턴합니다.

# txt.find('day',30): txt의 30번 인덱스 이후부터 'day' 문자열을 찾기 시작합니다.
# find(): 해당 문자나 문자열을 찾을 수 없으면 -1을 리턴합니다.

offset1값: 22
offset2값: 27

In [6]:
# 중급 93. 문자열을 특정 문자로 분리하기(split)
url='http://www.naver.com/news/today=20160831'
log='name:홍길동 age:17 sex:남자 nation:조선'

ret1=url.split('/')
print('ret1값:',ret1)
# url을 슬래쉬를 구분자로 문자열을 분리하고 그 결과를 화면에 출력합니다.

ret2=log.split()
print('ret2값:',ret2)

for data in ret2:
  d1, d2=data.split(':')
  print('%s->%s' %(d1,d2))

ret1값: ['http:', '', 'www.naver.com', 'news', 'today=20160831']
ret2값: ['name:홍길동', 'age:17', 'sex:남자', 'nation:조선']
name->홍길동
age->17
sex->남자
nation->조선

In [7]:
# 중급 94. 문자열을 특정 문자로 결합하기(join)
loglist=['2016/08/26 10:12:11','200','ok','이 또한 지나가리라']
bond=';'
log=bond.join(loglist)
print('log값:',log)
# 문자열 객체의 join() 메소드는 split()과는 반대로 문자열이 요소인 리스트를 인자로 받아, 리스트 모든 요소를
# 특정 문자열로 연결하여 새로운 문자열로 만들어 리턴합니다.

log값: 2016/08/26 10:12:11;200;ok;이 또한 지나가리라

In [8]:
# 중급 95. 문자열에서 특정 문자를 다른 문자로 바꾸기(replace)
txt='My password is 1234'
ret1=txt.replace('1','0')
ret2=txt.replace('1','python')
print('ret1값:',ret1)
print('ret2값:',ret2)

# 문자열 객체의 replace() 메소드는 문자열에서 특정 문자나 문자열을 다른 문자나 문자열로 변경합니다.

ret1값: My password is 0234
ret2값: My password is python234

In [16]:
# 중급 96. 문자열을 바이트 객체로 바꾸기(encode)
u_txt='I love python'
b_txt=u_txt.encode()
# 문자열 객체의 encode() 메소드는 유니코드로 되어 있는 문자열을 인자로 지정된 인코딩 방식으로
# 인코딩하여 바이트 객체로 변환합니다.

print('u_txt값:',u_txt)
print('b_txt값:',b_txt)
# encode()에 인자가 없으면 다폴트로 'UTF-8'로 인코딩한 바이트 객체로 변환합니다.

ret1='I'==u_txt[0]
print('ret1값:',ret1)
print('b_txt[0]값:',b_txt[0])
print('b_txt[1]값:',b_txt[1])
print('b_txt[2]값:',b_txt[2])

u_txt값: I love python
b_txt값: b'I love python'
ret1값: True
b_txt[0]값: 73
b_txt[1]값: 32
b_txt[2]값: 108

In [19]:
# 중급 97. 바이트 객체를 문자열로 바꾸기(decode)
b_txt=b'A lot of things occure each day.'
u_txt=b_txt.decode()
print('u_txt값:',u_txt)
print('b_txt의 type', type(b_txt))
print('u_txt의 type', type(u_txt))

# decode()를 이용해 바이트 객체를 문자열로 변환해야 합니다.

u_txt값: A lot of things occure each day.
b_txt의 type <class 'bytes'>
u_txt의 type <class 'str'>

In [20]:
# 중급 98. 문자열을 정렬하기(sorted, join)
strdata=input('정렬할 문자열을 입력하세요:')
ret1=sorted(strdata)
ret2=sorted(strdata,reverse=True)
# sorted(): 인자로 입력되는 문자열의 모든 문자를 a,b,c,... "오름차순"으로 정렬하고,
# 정렬된 각 문자를 요소로 하는 리스트로 리턴합니다.

print('ret1값:',ret1)
print('ret2값:',ret2)

정렬할 문자열을 입력하세요:안녕하세요
ret1값: ['녕', '세', '안', '요', '하']
ret2값: ['하', '요', '안', '세', '녕']

In [23]:
# 중급 99. 순차적인 정수 리스트 만들기(range)
range1=range(10)
print('type(range1)',type(range1))
print('range1값:',list(range1))
# range(10): 0이상 10미만까지 순차적인 정수를 구성하고 반복 가능한 자료형인 range객체를 리턴합니다.

range2=range(10,20)
print('range2값:',list(range2))
# range()가 리턴한 range 객체의 실제값들을 출력하려면 반복 가능한 자료형을 리스트로 변환해주는
# 파이썬 내장함수 list()을 이용합니다.

type(range1) <class 'range'>
range1값: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
range2값: [10, 11, 12, 13, 14, 15, 16, 17, 18, 19]

In [26]:
# 중급 100. 리스트에서 특정 위치의 요소 얻기
listdata=[1,2,'a','b','c',[4,5,6]]
val1=listdata[1]
print('val1값:',val1)

val2=listdata[3]
print('val2값:',val2)

val3=listdata[5]
val4=listdata[5][1]
print('val3값:',val3)
print('val4값:',val4)

val1값: 2
val2값: b
val3값: [4, 5, 6]
val4값: 5