<a href="https://colab.research.google.com/github/kimheeseo/python/blob/main/cha3_.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Chapter 3. 파이 채우기: 리스트, 튜플, 딕셔너리, 셋**

In [1]:
# 3.1 리스트와 튜플
# 파이썬에는 두 가지 다른 시퀀스 구조가 있다.: 튜플(tuple), 리스트(list)
# 파이썬의 문자열: 문자의 시퀀스

# 1) 파이썬은 왜 리스트와 튜플 모두를 포함하고 있을까? 튜플은 불변(immutable)한다.
# 튜플에 항목을 할당하고 나소, 이를 바꿀 수 없다.

# 2) 리스트는 변경 가능하다.(mutable) 항목을 할당하고, 자유롭게 수정하거나 삭제할 수 있다.

In [4]:
# 3.2 리스트
# 리스트는 데이터를 순차적으로 파악하는 데 유용하다.
# 특히 내용의 순서가 바뀔 수 있다는 점에서 유용하다.
# 문자열과 달리 리스트는 변경 가능하다.

# 리스트의 현재 위치에서 새로운 요소를 추가하거나 삭제 혹은 기존 요소를 덮어쓸 수 있다.
# 그리고 리스트에는 동일한 값이 여러 번 나타날 수 있다.

# 3.2.1 리스트 생성하기: [] 또는 list()
# 리스트는 0 혹은 그 이상의 요소로 만들어진다. 콤마(,)로 구분하고, 대괄호([ ])로 둘러싸여 있다.

empty_list=[]
weekdays=['monday','tuesday','wednesday','thursday','friday']

# list() 함수로 빈 리스트를 할당할 수 있다.
another_empty_list=list()
another_empty_list

[]

In [11]:
# 3.2.2 다른 데이터 타입을 리스트로 변환하기: list()
# list()함수는 다른 데이터 타입을 리스트로 변환한다.
print('type(cat)값',type('cat')) # type: str
print('type(list(cat))값',type(list('cat'))) # type: list

list('cat') # 하나의 단어를 한 문자로 문자열의 리스트로 변환한다.

type(cat)값 <class 'str'>
type(list(cat))값 <class 'list'>

['c', 'a', 't']

In [12]:
# 튜플을 리스트로 변환한다.
a_tuple=('ready','fire','aim')
list(a_tuple)

['ready', 'fire', 'aim']

In [13]:
birthday='1/6/1952'
birthday.split('/')

['1', '6', '1952']

In [14]:
# 문자열에 구분자가 여러 개 있다면 어떻게 처리할까?
# 다음과 같이 리스트에 빈 문자열에 들어갈 것이다.
splitme='a/b//c/d///e'
splitme.split('/')

['a', 'b', '', 'c', 'd', '', '', 'e']

In [17]:
# 3.2.3 [offset]으로 항목 얻기
marxes=['Groucho','Chico','Harpo']
print('marxes[0]:', marxes[0])
print('marxes[1]:',marxes[1])

# 리스트의 오프셋은 값을 할당한 위치에 맞게 입력되어야 한다.
# 오프셋의 위치가 리스트의 범위를 벗어날 경우 예외가 발생한다.
marxes=['Groucho','Chico','Harpo']
marxes[5]

marxes[0]: Groucho
marxes[1]: Chico

IndexError: list index out of range

In [19]:
# 3.2.4 리스트의 리스트
# 리스트는 리스트뿐만 아니라, 다른 타입의 요소도 포함할 수 있다.
small_birds=['hummingbird','finch']
extinct_birds=['dodo','passenger pigeon','norwegian blue']
carol_birds=[3,'frrench hens',2,'turtledoves']

all_birds=[small_birds, extinct_birds, carol_birds]
print('all_birds값:',all_birds) # 리스트의 리스트

all_birds값: [['hummingbird', 'finch'], ['dodo', 'passenger pigeon', 'norwegian blue'], [3, 'frrench hens', 2, 'turtledoves']]

In [20]:
all_birds[0] # small_birds: 첫 번째 항목은 리스트다.

['hummingbird', 'finch']

In [21]:
all_birds[1][0] # [1]: extinct_birds, [0]: extinct_birds의 1번째 요소인 'dodo'를 출력

'dodo'

In [23]:
# 3.2.5 [offset]으로 항목 바꾸기
marxes=['Groucho','Chico','Harpo']
print('marxes[2]=Wanda 하기 전, marxes값:',marxes)

marxes[2]='Wanda'
print('marxes[2]=Wanda 한 후, marxes값:',marxes)
# 리스트의 오프셋은 리스트에서 유효한 위치여야 한다.
# 문자열은 이러한 방식으로 변경할 수 없다. 왜냐하면 문자열은 불변한다
# 리스트는 변경 가능하다. 리스트의 항목 수와 항목 내용을 바꿀 수 있다.

marxes[2]=Wanda 하기 전, marxes값: ['Groucho', 'Chico', 'Harpo']
marxes[2]=Wanda 한 후, marxes값: ['Groucho', 'Chico', 'Wanda']

In [28]:
# 3.2.6 슬라이스로 항목 추출하기
# 슬라이스를 사용해서 리스트의 서브 시퀀스를 추출할 수 있다.
marxes=['Groucho','Chico','Harpo']
print('marxes[0:2]값:',marxes[0:2])
print('marxes[0]값:',marxes[0])
print('marxes[1]값:',marxes[1])
print('marxes[::-1]값:',marxes[::-1])

marxes[0:2]값: ['Groucho', 'Chico']
marxes[0]값: Groucho
marxes[1]값: Chico
marxes[::-1]값: ['Harpo', 'Chico', 'Groucho']

In [30]:
# 3.2.7 리스트의 끝에 항목 추가하기: append()
# append()는 리스트의 끝에 새 항목을 추가한다.
print('Zeppo 추가 전 marxes값:', marxes)
marxes.append('Zeppo')
print('Zeppo 추가 후 marxes값:', marxes)

Zeppo 추가 전 marxes값: ['Groucho', 'Chico', 'Harpo', 'Zeppo']
Zeppo 추가 후 marxes값: ['Groucho', 'Chico', 'Harpo', 'Zeppo', 'Zeppo']

In [33]:
# 3.2.8 리스트 병합하기: etend() 또는 +=
# extend()를 사용하여 다른 리스트를 병합할 수 있다.

marxes=['Groucho','Chico','Harpo','Zeppo']
others=['Gummo','Karl']
print('병합 전 marxes값:',marxes)

marxes.extend(others)
print('병합 후 marxes값:',marxes)

병합 전 marxes값: ['Groucho', 'Chico', 'Harpo', 'Zeppo']
병합 후 marxes값: ['Groucho', 'Chico', 'Harpo', 'Zeppo', 'Gummo', 'Karl']

In [34]:
# append()를 사용하면 항목을 병합하지 않고, others가 하나의 리스트로 추가된다.
marxes=['Groucho','Chico','Harpo','Zeppo']
others=['Gummo','Karl']
print('병합 전 marxes값:',marxes)

marxes.append(others)
print('병합 후 marxes값:',marxes)
# 이것은 리스트가 다른 타입의 요소를 포함할 수 있다는 것을 보여준다.

병합 전 marxes값: ['Groucho', 'Chico', 'Harpo', 'Zeppo']
병합 후 marxes값: ['Groucho', 'Chico', 'Harpo', 'Zeppo', ['Gummo', 'Karl']]

In [36]:
# 3.2.9 오프셋과 insert()로 항목 추가하기
# append()함수는 단지 리스트의 끝에 항목을 추가한다.
# 그러나 insert()함수는 원하는 위치에 항목을 추가할 수 있다.
marxes=['Groucho','Chico','Harpo','Zeppo']
print('변경 전 marxes값:',marxes)

marxes.insert(3,'Gummo')
print('변경 후 marxes값:',marxes)

변경 전 marxes값: ['Groucho', 'Chico', 'Harpo', 'Zeppo']
변경 후 marxes값: ['Groucho', 'Chico', 'Harpo', 'Gummo', 'Zeppo']

In [38]:
# 3.2.10 오프셋으로 항목 삭제하기: del
marxes=['Groucho','Chico','Harpo','Zeppo']
print('변경 전 marxes값:',marxes)
del marxes[-1]

print('변경 후 marxes값:', marxes)
# 오프셋으로 리스트의 특정 항목을 삭제하면, 제거된 항목 이후의 항목들이 한 칸씩 앞으로 당겨진다.
# 그리고 리스트의 길이가 1 감소한다.

변경 전 marxes값: ['Groucho', 'Chico', 'Harpo', 'Zeppo']
변경 후 marxes값: ['Groucho', 'Chico', 'Harpo']

In [39]:
# 3.2.11 값으로 항목 삭제하기: remove()
# 리스트에서 삭제할 항목의 위치를 모르는 경우, remove()와 값으로 그 항목을 삭제할 수 있다.
marxes=['Groucho','Chico','Harpo','Gummo','Zeppo']
print('변경 전 marxes값:',marxes)

marxes.remove('Gummo')
print('변경 후 marxes값:',marxes)

변경 전 marxes값: ['Groucho', 'Chico', 'Harpo', 'Gummo', 'Zeppo']
변경 후 marxes값: ['Groucho', 'Chico', 'Harpo', 'Zeppo']

In [41]:
# 3.2.12 오프셋으로 항목을 얻은 후 삭제하기: pop()
# pop()은 리스트에서 항목을 가져오는 동시에 그 항목을 삭제한다.
# 오프셋과 함께 pop()을 호출했다면 그 오프셋의 항목이 반환된다. 인자가 없다면 -1을 사용한다.

# pop(0): 리스트의 헤드를 반환한다.
# pop() 혹은 pop(-1): 리스트의 테일을 반환한다.

marxes=['Groucho','Chico','Harpo','Gummo','Zeppo']
print('변경 전 marxes값:',marxes)
marxes.pop()

print('변경 후 marxes값:',marxes)

marxes.pop(1)
print('변경 후 marxes값:',marxes)

변경 전 marxes값: ['Groucho', 'Chico', 'Harpo', 'Gummo', 'Zeppo']
변경 후 marxes값: ['Groucho', 'Chico', 'Harpo', 'Gummo']
변경 후 marxes값: ['Groucho', 'Harpo', 'Gummo']